.header-hd {
  width: 100vw;
  position: sticky;
}
header {
  display: flex;
  height: 200px;
  width: 100vw;
  margin: 0;
  justify-content: space-between;
  align-items: center;
  border: none;
  background-color: $cream;
  .header-accent {
    display: flex;
    width: 75vw;
    height: 50px;
    justify-content: space-between;
    background-color: $blue-mid;
    border-radius: 5px;
    align-items: center;
    #nav-links ul {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      color: $blue-dark;
      text-decoration: none;
      width: 50vw;
      margin: 0 15px;
      li {
        color: $blue-dark;
        display: inline-flex;
        list-style: none;
        justify-content: space-between;
      }
      #nav-links a {
        font-size: 12px;
        &:hover {
          color: $cream;
          border-radius: 25px;
          filter: drop-shadow(3px 3px 3px black);
        }
        &:active {
          color: $cream;
          filter: drop-shadow(3px 3px 3px black);
        }
      }
    }
  }
  
}


#header-logo-hd {
display: flex;
height: 200px;
width: 250px;
background-color: $blue-mid;
margin: 0 100px;
justify-content: center;
align-items: center;
padding: 30px auto;
img {
  display: flex;
  height: 175px;
  width: 175px;
  margin-top: 20px;
  margin-bottom: 20px;
}
a:hover {
  filter: drop-shadow(3px 3px 3px black);
}
a:active {
  color: $blue-dark;
}
}




/*header 1*/
/* Desktop styles */

.header1 {
  display: flex;
  width: 100vw;
  height: 300px;
  border: 1px solid $black;
}

.header-one {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 300px;
  border: 1px solid $black;
  background-color: $cream;
  margin: 30px 0;
}

.header-logo {
  display: flex;
  width: 20%;
  height: 80%;
  border: 1px solid $black;
  font-size: 2rem;
  margin: 20px;
  justify-content: center;
  align-items: center;
  img {
    height: 100%;
  }
}

.header1-nav nav ul {
  display: flex;

  & li {
    margin-right: 1rem;
  }

  & li:last-child {
    margin-right: 0;
  }

  & a {
    text-decoration: none;
    color: $black;
  }
}



.hamburger-menu {
  display: none;
}



/*header 2*/



/* ---------------------------Hamburger Menu-----[ON BIG SCREENS]--------------------------------------- */
/* (A) WRAPPER */
#hamnav {
  width: 100%;
  background: #000;
  /* Optional */
  position: sticky;
  top: 0;
}

/* (B) HORIZONTAL MENU ITEMS */
#hamitems { display: flex; }
#hamitems a {
  flex-grow: 1;
  flex-basis: 0;
  padding: 10px;
  color: white;
  text-decoration: none;
  text-align: center;
}
#hamitems a:hover { background: #af0d0d; }

/* (C) HIDE HAMBURGER */
#hamnav label, #hamburger { display: none; }

/* [ON SMALL SCREENS] */
@media screen and (max-width: 768px){
  /* (A) BREAK INTO VERTICAL MENU */
  #hamitems a {
    box-sizing: border-box;
    display: block;
    width: 100%;
    border-top: 1px solid #333;
  }

  /* (B) SHOW HAMBURGER ICON */
  #hamnav label {
    display: inline-block;
    color: white;
    background: #a02620;
    font-style: normal;
    font-size: 1.2em;
    padding: 10px;
  }

  /* (C) TOGGLE SHOW/HIDE MENU */
  #hamitems { display: none; }
  #hamnav input:checked ~ #hamitems { display: block; }
}



/********************Header QUACKFEST****************** */
.header-2 {
  display: flex;
  width: 100vw;
  height: 400px;
  border: 1px solid $black;
}

#header_qf {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  height: 350px;
  border: 1px solid $black;
  background-color: $teal-mid;
  margin: 0;
  #header_logo_qf {
    display: flex;
    img {
      margin: 25px;
    width: 300px;
    height: 300px;
   
   

    justify-content: center;
    align-items: center;
    }
   
  }
  .header_qf_accent {
    display: flex;
    flex-direction: row;
    width: 75vw;
    margin: 0 auto;
    height: 30%;
    justify-content: space-around;
    background-color: none;
    border-radius: 5px;
    align-items: center;
  }
}






.hamburger-menu {
  display: none;
}

