<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HD_DS_Header</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body>
  <div class="header-hd">
    <header>

        <div id="header-logo-hd">
            <a href="#"><img src="homepage_images/logo_large.svg" alt="Hildegun Design logo"></a>
        </div>
        <div class="header-accent">
            <nav id="nav-links" alt="links to hildegun design home, about me, services, projects and gallery sections">

                <ul>
                    <li><a href="index.html" alt="link to hildegun design home page">Home</a></li>
                    <li><a href="about.html" alt="link to hildegun design about me page">About Me</a></li>
                    <li><a href="#services" alt="link to hildegun design services section">Services</a></li>
                    <li><a href="#">########</a></li>
                    <li><a href="gallery.html" alt="link too hildegun design gallery page">Gallery</a></li>
                </ul>
            </nav>

        </div>
    </header>
</div>
  <!--header 1, responsive, cream background, black text, logo left, nav right, hamburger menu-->
    <div class="header1">
        <header class="header-one">
            <div class="header-logo">
              <a href="#"><img src="../components/homepage_images/image circle.png" alt=""></a>
            </div>
            <nav class="header1-nav">
              <ul>
                <li class="btn-small"><a href="#">Home</a></li>
                <li class="btn-small"><a href="#">About</a></li>
                <li class="btn-gradient1"><a href="#">Services</a></li>
                <li class="btn-gradient2"><a href="#">Contact</a></li>
              </ul>
            </nav>
            <button class="hamburger-menu">&#9776;</button>
          </header>
    </div>
    <!--header 2-->
    <div class="header-2">
      <header id="header_qf">
            
            
        <div id="header_logo_qf">
            <a href="#"><img src="images/logo.wordmark.png" alt="QuackFest Logo"></a>
        </div>
        <div class="header_qf_accent">
        <nav class="header2_nav">
            <ul>
                <li class="btn-small_qf"><a href="#">Home</a></li>
                <li class="btn-small_qf"><a href="#events">Activities</a></li>
                <li class="btn-small_qf"><a href="#pod">Special Guests</a></li>
            
                <li class="btn-small_qf"><a href="#hd_cards">Vendors</a>
                <li class="btn-small_qf"><a href="#t_c_anchors">FAQ</a></li>
                <li class="btn-small_qf"><a href="#contact-info">Contact</a></li>
            </ul>
        </nav>
        <button class="hamburger-menu">&#9776;</button>
        </div>
    </header>
    </div>
</body>
</html>