<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nav</title>
   
    <link rel="stylesheet" href="../style.css">
</head>
<body>
    <header>
        <div class="logo"><a href="#"><img src="homepage_images/image circle.png" alt="Hildegun Design logo"></a></div>
            <nav class="nav-links">
            <ul>
                <li><button class="primary"><a href="#" alt="link">Button</a></button></li>
                <li><button class="secondary"><a href="#" alt="link">Button</a></button></li>
                <li><button class="alternate"><a href="#" alt="link ">Button</a></button></li>
                </ul>
            </nav>
    </header>
     <!-- (A) MENU WRAPPER -->
     <nav id="hamnav">
        <!-- (B) THE HAMBURGER -->
        <label for="hamburger">&#9776;</label>
        <input type="checkbox" id="hamburger"/>
  
        <!-- (C) MENU ITEMS -->
        <div id="hamitems">
          <a href="a.html">First</a>
          <a href="b.html">Second</a>
          <a href="c.html">Third</a>
          <a href="d.html">Forth</a>
        </div>
      </nav>
</body>
</html>